.image_con {
  display: flex;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
  flex-direction: column;
  gap: 1rem;
}
.image_con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.btn_con{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.btn_con .download{
    padding: 0.5rem 1rem;
    background-color: var(--secondary);
    border-radius: 4px;
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}
.btn_con .save{
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
    border: 2px solid var(--bg4);
    transition: 0.4s;
}
.save:hover{
    background-color: var(--bg1);
}
.load_con{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}